[Unit]
Description=Portainer Agent Service with docker compose
Requires=docker.service
After=docker.service

[Service]
RestartSec=1m
Restart=on-failure
WorkingDirectory=/srv/adm-system/
ExecStartPre=/usr/bin/docker compose down -v
ExecStartPre=-/bin/bash -c 'docker ps -aqf "name=adm-system" | xargs docker rm'
ExecStart=/usr/bin/docker compose up
ExecStop=/usr/bin/docker compose down

[Install]
WantedBy=multi-user.target
