# Editors
.vscode/

# Data folder for shared files
data/*
!data/.gitkeep

# Except for only one example docker container
data/docker/*
!data/docker/
!data/docker/adm-system/

# Data folder for LTSP images
images/*
!images/.gitkeep

# LTSP data files
ltsp/data/*
!ltsp/data/.gitkeep
